.login{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(37, 196, 218);
}
.loginLogo{
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.loginContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.signInButton{
   background-color:rgb(188, 140, 49);
   border: 1px solid;
   margin-top: 10px;
   height: 30px;
   border-radius: 2px;
   color: black;
   border-color: #a88734 ;
   

}