.login{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
}
.loginLogo{
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.loginContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.signInButton , .signUpButton{
   background-color:rgb(241, 160, 9);
   border: 1px solid;
   margin-top: 10px;
   height: 30px;
   border-radius: 2px;
   color: black;
   border-color: #a88734 ;
   

}
.loginContainer p{
    margin-top: 15px;
    font-size: 12px;
}
.loginContainer h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.loginContainer form h5{
    margin-bottom:5px ;

}
.loginContainer form input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;

}